USE [QLXEMAY]
GO
/****** Object:  StoredProcedure [dbo].[storeHOADON]    Script Date: 11/01/2022 2:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[storeHOADON]
(
	@MAHD char(5)
)
as
BEGIN
SELECT	a.MAHD, d.NGAYLAP, f.TENNV, e.TENKH, g.TENXE, c.TENMAU, h.TENNCC, i.TENLOAIXE, g.GIABAN, a.SOLUONG, a.TONGTIEN, e.SDT
FROM  tb_CHITIETHOADON a, tb_CHITIETMAUXE b, tb_MAUSAC c, tb_HOADON d, 
		tb_KHACHHANG e, tb_NHANVIEN f, tb_XEMAY g, tb_NHACUNGCAP h, tb_LOAIXE i
WHERE  a.IDCHITIETXE=b.IDCHITIETXE and b.IDMAU=c.IDMAU and a.MAHD=d.MAHD and d.MAKH=e.MAKH 
		and d.MANV=f.MANV and b.MAXE=g.MAXE and g.MANCC=h.MANCC and g.MALOAI=i.MALOAI and d.MAHD=@MAHD
order by d.NGAYLAP
end