USE [master]
GO
/****** Object:  Database [QLXEMAY]    Script Date: 04/01/2022 3:10:26 PM ******/
CREATE DATABASE [QLXEMAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLXEMAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BIGBOSS\MSSQL\DATA\QLXEMAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLXEMAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BIGBOSS\MSSQL\DATA\QLXEMAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLXEMAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLXEMAY]
GO
/****** Object:  Table [dbo].[tb_CHITIETHOADON]    Script Date: 04/01/2022 3:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CHITIETHOADON](
	[MAHD] [char](5) NOT NULL,
	[MAXE] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HOADON]    Script Date: 04/01/2022 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOADON](
	[MAHD] [char](5) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MAKH] [char](5) NOT NULL,
	[MANV] [char](4) NOT NULL,
 CONSTRAINT [PK_tb_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KHACHHANG]    Script Date: 04/01/2022 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[SDT] [nvarchar](11) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LOAIXE]    Script Date: 04/01/2022 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAIXE](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAIXE] [nvarchar](15) NULL,
 CONSTRAINT [PK_tb_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHACUNGCAP]    Script Date: 04/01/2022 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHACUNGCAP](
	[MANCC] [char](5) NOT NULL,
	[TENNCC] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](11) NULL,
 CONSTRAINT [PK_tb_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHANVIEN]    Script Date: 04/01/2022 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[CMND] [nvarchar](15) NULL,
	[SDT] [nvarchar](11) NULL,
	[CHUCVU] [nvarchar](20) NULL,
	[USERNAME] [nvarchar](10) NULL,
	[PASSWORD] [nvarchar](10) NULL,
 CONSTRAINT [PK_tb_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_XEMAY]    Script Date: 04/01/2022 3:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_XEMAY](
	[MAXE] [char](5) NOT NULL,
	[TENXE] [nvarchar](20) NULL,
	[GIABAN] [money] NULL,
	[MAUSAC] [nvarchar](20) NULL,
	[DUNGTICH] [nvarchar](5) NULL,
	[TINHTRANG] [nvarchar](3) NULL,
	[MALOAI] [char](5) NOT NULL,
	[MANCC] [char](5) NOT NULL,
 CONSTRAINT [PK_tb_XEMAY] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tb_CHITIETHOADON] ([MAHD], [MAXE], [SOLUONG], [DONGIA]) VALUES (N'HD001', N'XE015', 1, CAST(49900000 AS Numeric(18, 0)))
INSERT [dbo].[tb_CHITIETHOADON] ([MAHD], [MAXE], [SOLUONG], [DONGIA]) VALUES (N'HD002', N'XE012', 1, CAST(82000000 AS Numeric(18, 0)))
INSERT [dbo].[tb_CHITIETHOADON] ([MAHD], [MAXE], [SOLUONG], [DONGIA]) VALUES (N'HD003', N'XE005', 1, CAST(46090000 AS Numeric(18, 0)))
GO
INSERT [dbo].[tb_HOADON] ([MAHD], [NGAYLAP], [MAKH], [MANV]) VALUES (N'HD001', CAST(N'2021-12-26T00:00:00.000' AS DateTime), N'KH003', N'NV04')
INSERT [dbo].[tb_HOADON] ([MAHD], [NGAYLAP], [MAKH], [MANV]) VALUES (N'HD002', CAST(N'2021-12-27T00:00:00.000' AS DateTime), N'KH002', N'NV04')
INSERT [dbo].[tb_HOADON] ([MAHD], [NGAYLAP], [MAKH], [MANV]) VALUES (N'HD003', CAST(N'2021-12-28T00:00:00.000' AS DateTime), N'KH001', N'NV04')
GO
INSERT [dbo].[tb_KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI]) VALUES (N'KH001', N'Nguyễn Trần Vũ Đại Dương', N'0909999000', N'Thành phố Hồ Chí Minh')
INSERT [dbo].[tb_KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI]) VALUES (N'KH002', N'Trần Đức Trọng', N'0369963321', N'Bình Dương')
INSERT [dbo].[tb_KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI]) VALUES (N'KH003', N'Đoàn Công Sơn', N'0123321147', N'Bình Phước')
GO
INSERT [dbo].[tb_LOAIXE] ([MALOAI], [TENLOAIXE]) VALUES (N'ML001', N'Xe số')
INSERT [dbo].[tb_LOAIXE] ([MALOAI], [TENLOAIXE]) VALUES (N'ML002', N'Xe tay ga')
INSERT [dbo].[tb_LOAIXE] ([MALOAI], [TENLOAIXE]) VALUES (N'ML003', N'Xe côn')
GO
INSERT [dbo].[tb_NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC01', N'Công ty Yamaha', N'Thành phố Hồ Chí Minh', N'0123456789')
INSERT [dbo].[tb_NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC02', N'Công ty SYM', N'Quảng Nam', N'0147258369')
INSERT [dbo].[tb_NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC03', N'Công ty Honda', N'Quảng Ngãi', N'0987654321')
GO
INSERT [dbo].[tb_NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [CMND], [SDT], [CHUCVU], [USERNAME], [PASSWORD]) VALUES (N'NV01', N'Bùi Lâm Viễn', N'Nam', CAST(N'2001-01-01T00:00:00.000' AS DateTime), N'Quảng Nam', N'123456789', N'0909090909', N'Tư vấn', N'vien', N'1911065458')
INSERT [dbo].[tb_NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [CMND], [SDT], [CHUCVU], [USERNAME], [PASSWORD]) VALUES (N'NV02', N'Đặng Duy Mạnh', N'Nam', CAST(N'2001-01-02T00:00:00.000' AS DateTime), N'Quảng Ngãi', N'321654987', N'0585858585', N'Quản lý', N'manh', N'1911066211')
INSERT [dbo].[tb_NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [CMND], [SDT], [CHUCVU], [USERNAME], [PASSWORD]) VALUES (N'NV03', N'Cao Nguyễn Duy Anh', N'Nam', CAST(N'2001-01-03T00:00:00.000' AS DateTime), N'Thành Phố Hồ Chí Minh', N'987654321', N'0323232323', N'Tư vấn', N'anh', N'1911065968')
GO
INSERT [dbo].[tb_XEMAY] ([MAXE], [TENXE], [GIABAN], [MAUSAC], [DUNGTICH], [TINHTRANG], [MALOAI], [MANCC]) VALUES (N'XE001', N'Sirius', 20340000.0000, N'Đen', N'110', N'Mới', N'ML001', N'NCC01')
INSERT [dbo].[tb_XEMAY] ([MAXE], [TENXE], [GIABAN], [MAUSAC], [DUNGTICH], [TINHTRANG], [MALOAI], [MANCC]) VALUES (N'XE002', N'Wave Alpha', 17890000.0000, N'Đỏ', N'110', N'Mới', N'ML002', N'NCC03')
INSERT [dbo].[tb_XEMAY] ([MAXE], [TENXE], [GIABAN], [MAUSAC], [DUNGTICH], [TINHTRANG], [MALOAI], [MANCC]) VALUES (N'XE003', N'Exciter', 49290000.0000, N'Đen', N'150', N'Mới', N'ML003', N'NCC01')
GO
ALTER TABLE [dbo].[tb_XEMAY]  WITH CHECK ADD  CONSTRAINT [FK_tb_XEMAY_tb_XEMAY] FOREIGN KEY([MAXE])
REFERENCES [dbo].[tb_XEMAY] ([MAXE])
GO
ALTER TABLE [dbo].[tb_XEMAY] CHECK CONSTRAINT [FK_tb_XEMAY_tb_XEMAY]
GO
USE [master]
GO
